/* main css */

h1 {
  font-size: 50px;
  color: #3b3a36;
}
.container{
  border-radius: 15px;

}

.background {
  background-color: #e9ece5;
}

.navbar {
  background-color: #c0dfd9;
}
div.searchcontent {
  height:60px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.search{
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.button{
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.searchbutton{
  background-color: white;
  color: black;
  border: 2px solid #483D8B;
  //box-shadow: 1px 1px 11px #330033;
}

.searchbutton:hover {
  background-color: #483D8B;
  color: white;
}

.region{
  position: relative;
  display: inline-block;
}
#slogan{
  font-size: 40pt;
  display: center;


}

#region{
  overflow:hidden;
  height: 7.5%;
  width: 40%;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  //box-shadow: 1px 1px 11px #330033;
  background-color: white;
  color: black;
  border: 2px solid #483D8B;
}
#region:hover {
  background-color: #b3c2bf;
  color: white;
}
.input{
  background-color: white;
  color: #c0dfd9;
  border: 2px solid #483D8B;
  border-radius: 10px;
  //box-shadow: 1px 1px 11px #330033;
}

/* maps css */

#map {
  height: 400px;
  width: 100%;
}

/* searchbox green css */

.search-box-wrapper {
	display: inline-flex;
	font-size:20px;
  maxsize
}

.search-box-input {
	font-size: inherit;
	border: 0.2em solid #c0dfd9;
	border-radius: -.5em 0 0 0.5em;
	padding: 0.2em 0.5em;
	outline: 0;
}

.search-box-input: hover,
.search-box-input: focus {
	border-color: #c0dfd9;
}

.search-box-button {
	font-size: inherit;
	border: 0.2em solid #c0dfd9;
	background-color: #c0dfd9;
	border-left: 0;
	padding: 0 0.75em;
	color: white;
	font-weight: bold;
	outline: 0;
	cursor: pointer;
  
}

.search-box-button: hover,
.search-box-button: focus {
	border-color: #e05038;
	background-color: #e9ece5;
}
