<!DOCTYPE html>
{% extends 'dog/base.html' %}
{% block title_block %} 
 Add a new page to {{ region.slug }} 
{% endblock %}
{%block body_block %}

	<h2> Add a new page to {{ region.slug }}</h2>
	
	<div><br />

		{% if not_region_name_url %}
			<div style="color: red;">The specified category doees not exist!</div> 
		{% else %}
		
		<form method="post" class ="form" enctype="multipart/form-data" action="/dog/region/{{region.slug}}/add_cottage/">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
		{% endif %}
<style>
	.form {
		display: flex;
		flex-direction: column;
		}
</style>
{% endblock %}	