<!DOCTYPE html>
{% load dog_template_tags %}
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'images/scotty.ico' %}">
  <title>
    Rango - {% block title %}SCOTTY!{% endblock %}
  </title>
  <!-- Bootstrap core CSS -->
  <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css"
  rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=
  "http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css"
  rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="static/css/main.css" />
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="/">
      <div>
      <img src="{% static "images/scotty6-19.png" %}" width="100" alt="scotty logo" />
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'dog:index' %}">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'dog:about' %}">Regions</a>
        </li>
        </ul>
    </div>
  </nav>
  <!--- main content area -->
  <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
    {% block body_block %}
    Youyou
    {% endblock %}
  </div>
<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">

  <center><p style='color: white; size:20px;'><em>Scotty Ltd.<em></p></center>

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script
src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script
src=
"http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js">
</script>
</body>
</html>
