<!DOCTYPE html>
{% extends 'dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
All Cottages
{% endblock %}

{% block body_block %}



<style>

.cropthumb {
  width: 330px;
  height: 300px;
  overflow: hidden;
}
#thumb {
  width: 600px;
  }

	.desc{
		padding-top: 0.5em;
		text-align: center;
		font-size: 16pt;65AA3D
		color: #65AA3D;
		}
	.card-text{
		text-align: center;
		font-size: 12pt;
		color: #666B40;
		}
</style>



<section>
	<div class="jumbotron" style="text-align: center">
		<h1 class="jumbotron-heading">Dogfriendly cottages</h1>
		<p class="lead text-muted">Here are some wonderful dogfriendly cottages in the region. Check them out!</p>
		<div class="dropdown w3-flat-pumpkin">
			<button class="dropbtn">Sort By:</button>
			<div class="dropdown-content">
				<a href="{%url 'dog:mostliked' %}">Most Liked</a>
				<a href="{%url 'dog:mostviewed' %}">Most Viewed</a>
			</div>
		</div>
	</div>
</section>

<div>
	<div class="container">
		<div class="row">
			{% if cottages %}
			{% for cottage in cottages %}
			<div class="card">
				<div class="cropthumb">
				<!-- <img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
				<a target="_blank" href="{% url 'dog:show_cottage' cottage.slug %}">
					<img id="thumb" src="{{ MEDIA_URL }}{{ cottage.image }}" alt="Image of {{ cottage.name }}"	width="340" >
				</a>
				</div>

				<h2 class="desc">{{ cottage.name }}</h2>
				<p class="card-text">{{ cottage.description }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% else %}
The specified Region does not exist!
{% endif %}


</body>
</html>
{% endblock %}
