 <!DOCTYPE html>

{% extends 'dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ cottage.name }}
{% endblock %}

{% block body_block %}



<style>
.image {
	width: 100%;
	height: auto;
	
	}


#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
    /* -webkit-filter: grayscale(100%);*/
    /* filter: grayscale(100%); Change the color of the map to black and white */
		}

</style>
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<!---<script type="text/javascript" src="{% static '/js/jquery.js'%}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!---<script>
		

		$(document).ready(function(){
			 function updateText(btn, newCount, verb){
			 btn.text(newCount + " " + verb)
		 }
		 $(".like-btn").click(function(e){
		   e.preventDefault()
		   var this_ = $(this)
		   var likeUrl = this_.attr("data-href")
		   var likeCount = parseInt(this_.attr("data-likes")) | 0
		   console.log(likeCount)
		   var addLike = likeCount + 1
		   var removeLike = likeCount - 1
		   if (likeUrl){
			   $.ajax({

			   url: likeUrl,
			   method: "GET",
			   data: {},
			   success: function(data){
				 console.log(data)
				 var newLikes;
				 if (data.liked){
					 updateText(this_, addLike, "Unlike")
				 } else {
					 updateText(this_, removeLike, "Like")
					 // remove one like
				 }
			   }, error: function(error){
				 console.log(error)
				 console.log("error")
			   }
			 });
		   }
		  
		 });
	 })
	   </script>-->
	
	{% if cottage %}

		

		
		<div class="jumbotron">
			<h1 class="display-3">{{ cottage.name }}</h1>
			<a href="{% url 'dog:sign' cottage.slug %}">Review Cottage</a>
		</div>
		<img class='image' src="{{ MEDIA_URL }}cottages/{{ cottage.name }}.jpg" alt='Image of {{ cottage.name }}'/>
		<div id="comments">
		<div class="w3-display-container" id="commentsection">
		<p id="likes"> </p> <a href='{{ cottage.get_like_url }}'class='like-btn' >Like </a>
		{% if comments %}
 
			           
			{% for c in comments %}
      	      
				
				<div class="comment_header">
              
				<h1>{{c.name}} {{ c.date_added }}</h1>
            
				</div>
            
				<div class="comment">
              
				<p>{{c.comment}}.</p>
            
				</div>
				         
			{% endfor %}
            
		{% endif %}
            
		</div>   
		</div
		<!-- Add Google Maps -->
		<div id="googleMap"></div>
		
		
		
		
		

		 
		</script>
		<script>
		
		
		$(document).ready(function(){
			var likes= parseInt({{ cottage.likes.count }}) 
			if (likes==1){
				$('#likes').html();
				$('#likes').text("{{ cottage.likes.count }} Like");
			}
			else {
				$('#likes').html();
				$('#likes').text("{{ cottage.likes.count }} Likes");
			}
		})

		var latitude = "";
		var longitude = "";
		function myMap(latitude, longtitude) {
		var myCenter = new google.maps.LatLng(latitude, longtitude);
		var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:true, mapTypeId:google.maps.MapTypeId.ROADMAP};
		var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
		var marker = new google.maps.Marker({position:myCenter});
		marker.setMap(map);
		}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyB00LfqK4PTVFWJoEsHFDcE82ZZrXsivqw&callback=myMap"></script>
		<script type="text/javascript">
		var geocoder = new google.maps.Geocoder();
		var address = "{{ cottage.address }}";
		geocoder.geocode( { 'address': address}, function(results, status) {

  			if (status == google.maps.GeocoderStatus.OK) {
    			var latitude = results[0].geometry.location.lat();
    			var longitude = results[0].geometry.location.lng();
			

 		 } 
		myMap(latitude, longitude);
		});
		</script>
		
		{% endif %}
	






		{% endblock %}