{% extends 'dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home/Search
{% endblock %}
{% block body_block %}


<style>
/* index page */
#cottages {
  font-size: 20px;
  color: #262D06;
  /* color: #3ab7a2;*/
}

     ul{
    list-style-type: none;
    text-align: center;
    text-rendering: auto;
    color: #A0EACA;
    }

    a {
      color: #3ab7a2;
      /* color: #3ab7a2;*/
    }


</style>



<section>
	<div class="jumbotron" style="text-align: center">
    <img src="{% static "images/scotty-22.png" %}" width="250" alt="scotty" />
    <img src="{{ MEDIA_URL }}sketches/sketch-01.png" width="500" alt='Image of scotty'/>
    <h1 >Type to find cottages. </h1>
    <!-- <img id='bone' src="{{ MEDIA_URL }}sketches/sketch-14.png" width="500" alt='Image of a bone'/> -->


    <form>
    <h3 class="centered" ><input  type="text" name="suggestion" value="" id="suggestion" /></h3>
    </form>
    <div id="cottages"></div>

    <div class="dropdown w3-flat-pumpkin">
      <hr>
			<button class="dropbtn">Go to:</button>
			<div class="dropdown-content">
				<a href="{%url 'dog:regions' %}">Regions</a>
				<a href="{%url 'dog:browse_cottages' %}">All</a>
			</div>

		</div>
	</div>
</section>







<!--- search bar
<div class="container w3-display-container searchcontent">

  <form class="search w3-display-middle">

    <select id="region" class="button">
      <option>--select region</option>
      <option value='region1'>Region 1</option>
      <option value='region2'>Region 2</option>
    </div>
  </div>
</select>

<input class="input" type="text" name="price_from">
<input class="input" type="text" name="price_to">
<input class="button searchbutton " type="submit" value='Search'>


</form>
</div>
-->
<!-- search bar
<div class="search-box-wrapper">
  <input type="text" id="maxsize" placeholder="Search…" class="search-box-input"  >
  <script src="{% static 'js/findplace.js' %}"></script>
  <button width="500" class="search-box-button">&#128269;</button>
</div>
-->
<!-- another Rango book search bar-->


<!--h2>Type to fetch.</h2-->




{% endblock %}
