{% extends 'dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}
{% block body_block %}

<div class="w3-display-container">
  <h1 id="slogan" class="w3-display-middle"> SCOTTY! Find Dogfriendly cottages. </h1>
</div>


<!--- search bar -->
<div class="container w3-display-container searchcontent">

  <form class="search w3-display-middle">

    <select id="region" class="button">
      <option>--select region</option>
      <option value='region1'>Region 1</option>
      <option value='region2'>Region 2</option>
    </div>
  </div>
</select>

<input class="input" type="text" name="price_from">
<input class="input" type="text" name="price_to">
<input class="button searchbutton " type="submit" value='Search'>


</form>
</div>

<!-- another search bar -->
<div class="search-box-wrapper">
  <input type="text" placeholder="Search…" class="search-box-input">
  <button class="search-box-button">&#128269;</button>
</div>

<!-- Google map -->
<div>
  <h1> Map</h1>
  <div id="map"></div>
  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz9XGMk2hpR3-3cO8bBYNRAGwr87d9GWo&callback=initMap">
  /* maps css */
  </script>
</div>



{% endblock %}
