{% extends 'dog/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home/Search
{% endblock %}
{% block body_block %}


<style>
h1,h2 {text-align:center;}
#bone {
  text-align:center;
  color: red;
  width: 300%;
  height: 100px;

}
h3 {text-align:center; color:gray;}
p {text-align:center;}
#cottages {text-align:center; background-color: #c0dfd9;}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}


/* Centered text */
.centered {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
}

</style>

<div class="w3-display-container">

  <img src="{% static "images/scotty-22.png" %}" width="250" alt="scotty" />
  <img src="{% static "images/sketch-01.png" %}" width="550" alt="scotty" />
  <h1 >Type to find cottages. </h1>


<div >
  <img src="{% static "images/sketch-14.png" %}" width="800" alt="scotty" />
<form>
<h2 class="centered" ><input  type="text" name="suggestion" value="" id="suggestion" /></h2>
</form>
<hr>

</div>
</div>
<div id="cottages"></div>





<!--- search bar
<div class="container w3-display-container searchcontent">

  <form class="search w3-display-middle">

    <select id="region" class="button">
      <option>--select region</option>
      <option value='region1'>Region 1</option>
      <option value='region2'>Region 2</option>
    </div>
  </div>
</select>

<input class="input" type="text" name="price_from">
<input class="input" type="text" name="price_to">
<input class="button searchbutton " type="submit" value='Search'>


</form>
</div>
-->
<!-- search bar
<div class="search-box-wrapper">
  <input type="text" id="maxsize" placeholder="Search…" class="search-box-input"  >
  <script src="{% static 'js/findplace.js' %}"></script>
  <button width="500" class="search-box-button">&#128269;</button>
</div>
-->
<!-- another Rango book search bar-->


<!--h2>Type to fetch.</h2-->



<!-- Google map
<div>
  <h1>&nbsp;</h1>
  <h1>&nbsp;</h1>

  <h2>Map of Scotland</h2>

  <div id="map"></div>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz9XGMk2hpR3-3cO8bBYNRAGwr87d9GWo&callback=initMap">
  /* maps css */
</script>
</div>
-->




{% endblock %}
