

{% extends 'dog/base.html' %}
{% load dog_template_tags %}
{% load staticfiles %}

{% block title_block %}

{% endblock %}

{% block body_block %}


<section>
	<div class="jumbotron" style="text-align: center">
		<h1 class="jumbotron-heading">Regions</h1>
		<p class="lead text-muted">Here are some wonderful dogfriendly cottages in Highlands, Lowlands and Islands. Check them out! You can take your dog with you. As all the cottages welcome you both. </p>

	</div>
</section>


<body class="container">
    <div>
        <p class="display-3" >{% get_region_list region %}</p>
    </div>
</body>




{% endblock %}
